{% extends 'tour/main.html' %}
{% load staticfiles %}
{% block title_block %}
 About PLatia
 {% endblock %}
{% block content %}
    <div class="grid-container">
    <h1 style="font-family: Oswald, serif; font-weight: bold; font-size: 30px; color: darkblue">About Us</h1>
    <p style="font-family: Merriweather, serif; font-weight: normal; font-size: 20px; color: black">
    Makao is a property portal aimed at bringing together buyers  and renters looking for properties in Kenya and property owners. We aim at creating an intensive property database with property of all types and from all over Kenya .
    </p>
    <h5 style="font-family: Oswald, serif; font-weight: bold; font-size: 20px; color: darkblue">For Sellers</h5>
<p style="font-family: Merriweather, serif; font-weight: normal; font-size: 20px; color: black">You get a easy to use platform to list all your properties and manage them across all the devices   i.e. mobile, tablets and desktops. You properties get to many potential buyers and rents through our vigorous marketing across various marketing  channels both digital and traditional. You also get to see how your property perform in terms of demands from potential  buyers or renters .Join us today to maximize your sales
</p>
    <h5 style="font-family: Oswald, serif; font-weight: bold; font-size: 20px; color: darkblue">For Buyers</h5>
    <p style="font-family: Merriweather, serif; font-weight: normal; font-size: 20px; color: black">
You get large database to look for you dream homes from flats to Condos ,you get a chance of owning a piece of one the fastest growing property sectors in the world and you get at a competitive price since you can compare and pick the best .
For renters
Whether looking for a long term rental property with all the modern amenities to make your life easy, or for short term rental property to stay while you enjoy your holiday in Kenya , Makao get you sorted. We have an extensive database with both type of  property .
    </p>
    </div>

{% endblock %}