{% extends 'tour/main.html' %}
{% load staticfiles %}
{% block title_block %}
    Properties
    {% endblock %}
{% block body_block %}

{% block content %}
<h5 class="center" style=" margin-top: 1.5%; margin-bottom: 0.001%; font-family: 'Oswald',Bold; font-size: 40px; text-align: center; color: darkred">My Property List</h5>
{% if object_list %}
   <h5>{{ object_list.count }} Home{{ premises|pluralize }}</h5>
<table>
<thead>
<tr style="font-family: Oswald, bold; color: darkblue">
    <th width="100">Name</th>
    <th width="50">District</th>
    <th width="50">Purpose</th>
    <th width="50">Category</th>
    <th width="50">Price</th>
    <th width="10">Bedrooms</th>
    <th width="10">Bathrooms</th>
    <th width="50">Make Changes</th>

</tr>

</thead>
<tbody>
{% for premise in object_list %}
<tr>
  <td width="100">{{ premise.name }}</td>
<td>{{ premise.district|capfirst }}</td>
<td>{{ premise.purpose|capfirst }}</td>
<td>{{ premise.type|capfirst }}</td>
<td>{{ premise.price }}</td>
<td width="10">{{  premise.bedrooms }}</td>
<td width="10">{{ premise.bathrooms }}</td>
<td> <p style="font-family: Merriweather, serif; font-weight: bold; font-size: 18px; color: red; text-align: justify">
<a href="{% url "premise:property_edit" premise.id %}">Edit <i class="fa fa-edit " style="color:#002C3E" aria-hidden="true"></i></a>&#8226;
<a href="{% url 'premise:delete' premise.id %}">Delete <i class="fa fa-remove " style="color:#002C3E" aria-hidden="true"></i></a>&#8226;
    <a href="{% url "premise:property_image_update" premise.id %}">Edit Images <i class="fa fa-image " style="color:#002C3E" aria-hidden="true"></i></a>
</p></td>
</tr>
{% endfor %}
</tbody>
</table>

{% else %}
<h5 style="text-align: center">Add your first property</h5>
{% endif %}



     {% if page_obj.has_other_pages %}
    <ul class="pagination-pointed pagination text-center" role="navigation" aria-label="Pagination">
    {% if page_obj.has_previous %}
        <li class="pagination-previous"><a class="pagination-pointed-button" href="?page={{ page_obj.previous_page_number }}" >Previous <span class="show-for-sr">Page</span></a></li>
        {% else %}
  <li class="pagination-previous disabled">Previous <span class="show-for-sr">Page</span></li>
        {% endif %}
    {% for i in  page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
  <li class="current"><span class="show-for-sr">You're on page</span> {{ i }}</li>
        {% else %}
  <li><a class="pagination-pointed-button" href="?page={{ i }}" aria-label="Page 2">{{ i }}</a></li>
  {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
  <li class="pagination-next"><a class="pagination-pointed-button" href="?page={{ page_obj.next_page_number }}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
        {% endif %}
</ul>
    {% endif %}
    <div class="grid-container">
    <a href="{% url 'premise:property_add' %}" class="button expanded" style="text-align: center">
    Add A New Property
    </a>
    </div>
    {% if tag.name in tag %}
        {% if object_list.has_other_pages %}
    <ul class="pagination-pointed pagination text-center" role="navigation" aria-label="Pagination">
    {% if object_list.has_previous %}
        <li class="pagination-previous"><a class="pagination-pointed-button" href="?page={{ object_list.previous_page_number }}" >Previous <span class="show-for-sr">Page</span></a></li>
        {% else %}
  <li class="pagination-previous disabled">Previous <span class="show-for-sr">Page</span></li>
        {% endif %}
    {% for i in  object_list.paginator.page_range %}
    {% if object_list.number == i %}
  <li class="current"><span class="show-for-sr">You're on page</span> {{ i }}</li>
        {% else %}
  <li><a class="pagination-pointed-button" href="?page={{ i }}" aria-label="Page 2">{{ i }}</a></li>
  {% endif %}
    {% endfor %}
    {% if object_list.has_next %}
  <li class="pagination-next"><a class="pagination-pointed-button" href="?page={{ object_list.next_page_number }}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
        {% endif %}
</ul>
    {% endif %}
    {% endif %}
{% endblock %}

{% endblock %}
