{% extends "tour/main.html" %}
{% block title %}
Sign up
{% endblock %}
{% block content %}

<div class="grid-container">
<form class="callout text-center" style="font-family: Oswald, bold; color: darkblue ; background-color: lightgray;" method="post" enctype="multipart/form-data">
  <h2>Become A Member</h2>
     {% if form.non_field_errors %}
              <p><span class="error">
              {{ form.non_field_errors|join:", " }}
              </span></p>
              {% endif %}
               <p>{% if form.username.errors %}
             <span class="error">
            {{ form.username.errors|join:", " }}
            </span>
            {% endif %}</p>
          {{ form.username.label_tag }}
              {{ form.username }}
         <p>{% if form.email.errors %}
             <span class="error">
            {{ form.email.errors|join:", " }}
            </span>
            {% endif %}</p>
          {{ form.email.label_tag }}
              {{ form.email }}


             <p>{% if form.password1.errors %}
             <span class="error">
            {{ form.passsword1.errors|join:", " }}
            </span>
            {% endif %}</p>
          {{ form.password1.label_tag }}
              {{ form.password1 }}

          <p>{% if form.password2.errors %}
             <span class="error">
            {{ form.passsword2.errors|join:", " }}
            </span>
            {% endif %}</p>
          {{ form.password2.label_tag }}
              {{ form.password2 }}
              {% csrf_token %}


  <input class="button expanded" type="submit" value="Sign up">
<p>If you already have an account login <a href="{% url 'user_login' %}">here</a></p>
</form>




</div>
{% endblock %}